{% extends 'base.html' %}

{% block title %}
  Veículos - PYCODEBR
{% endblock %}

{% block content %}
  {% load static %}

  <div class="listagem-veiculos">
    {% if cars %}
      {% for car in cars %}
        <div class="carro">
          {% if car.photo %}
            <img src="{{ car.photo.url }}" alt="{{ car.brand }} - {{ car.model }}" />
          {% else %}
            <img src="{% static 'images/default.jpg' %}" alt="Imagem não disponível" />
          {% endif %}

          <p>
            <span class="brand">{{ car.brand }}</span> <br />
            <span class="model">{{ car.model }} - {{ car.factory_year }}/{{ car.model_year }}</span> <br />
            <span class="value">R$ {{ car.value }}</span>
          </p>
        </div>
      {% endfor %}
    {% else %}
      <p>Nenhum veículo encontrado!</p>
    {% endif %}
  </div>
{% endblock %}
