<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}PYCODEBR{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
    <nav>
        <a href="{% url 'cars_list' %}">Listagem de Veículos</a>
    </nav>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <p>&copy; 2024 PYCODEBR. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
